.card {
    width: 362px;
    height: 284px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
}

.card:hover {
    transform: scale(1.07);
    cursor: pointer;
    color: #1b86fc;
}

.card-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #1b86fc;
}

.card-img:hover {
    opacity: 50%;

}

.card-tittle {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 16px;
}