.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* -> SECTION HERO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
  background-color: #e7f0fb;
}

.hero p {
  font-size: 13px;
}

.ballon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1b86fc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 3px;
  padding: 4px 12px 4px 12px; 
}

.ballon span {
  color: #1b86fc;
  font-size: 10px;
  font-weight: bold;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #2f3c4635;
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.box h2 {
  font-weight: 400;
  font-size: 32px;
}

.box h1 {
  font-size: 64px;
  color: #1b86fc;
}

.tittle {
  display: flex;
  position: relative;
}

.shineTittle {
  position: absolute;
  right: -20px;
}
/* -> SECTION LIBRARY */

.library {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 90px 0;
}

.libraryHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2f3c4635;
  padding-bottom: 25px;
}

.libraryHeaderButtons {
  display: flex;
  gap: 15px;
}

.libraryHeaderOrder {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.libraryHeaderOrder span {
  color: #2f3c46;
}

.libraryHeaderOrder select {
  background-color: #ffffff00;
  padding: 10px 40px 10px 14px;
  border: 1px solid #2f3c46;
  border-radius: 8px;
  font-size:16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.libraryHeaderOrderImg {
  height: 12px;
  width: 17px;
  position: absolute;
  right: 14px;
}

.libraryContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 44px;
  margin-top: 60px;
}

.libraryPages {
  display: flex;
  justify-content: center;
  border-top: 1px solid #2f3c4635;
  padding-top: 25px;
  font-size: 22px;
  gap: 15px;
}

.libraryPages a {
  text-decoration:none!important;
  font-size: 22px;
  padding: 0 8px;
}

/* -> SECTION CTA */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f0fb;
  min-height: 350px;
  width: 100vw;
  gap: 40px;
}

.ctaImg {
  height: 300px;
  width: 323px;
}

.ctaContent h4 {
  font-weight: 400;
  font-size: 16px;
  margin: 8px 0;
}

.ctaContent h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

.ctaContent button {
  height: 70px;
  width: 260px;
  border: none;
  border-radius: 35px;
  background-color: #1b86fc;
  color: white;
  font-size: 16px;
}

.boxTop {
  border-top: 1px solid #2f3c4635;
  padding-top: 16px;
  margin-top: 16px;
}

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

-----------------------------------------------------------------

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
